
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>

    <link rel="stylesheet" href="{% static 'css/KK.css' %}">

    </head>
    <body style="background-color: rgb(126, 187, 228);">
        <nav>
            <a href="#" style="color: orangered; font-size:20px;"><b style="color: blue;"> 🍊KMART </b><b>shopping</b></a>
            <a class="center" >
            <a href="#">Home</a>
            <a href="#">Features</a>
            <a href="#">Products</a>
            <a href="#">Categories</a>
            <a href="#">Review</a>
            <a href="#">Blogs</a>
            </a>
            <a class="iconn">
            <a class="icon" >
                <img src="{% static 'images/Search_Icon.png' %}" >
            </a>
            <a class="icon" >
                <img src="{% static 'images/supermarket.webp' %}" >
            </a>
            <a class="icon">
                <img src="{% static 'images/contact.png' %}" >
            </a>
            </a>
        </nav>
        <nav class="second" style="background-image :url('{% static 'images/banner-bg.webp' %}');">
            <div class="div2">
            <h1 style="color: black; font-size: 30px;">Fresh and Organic Products For Yours</h1>
            <h4>Lorem Ipsum Dolor Sit Amet Consectetur Adipisicing Elit.Aliquam </h4>
            <h4>Libero Nostrum Veniam Facere Tempore Nisi</h4>
            <center><h3 class="sech3">Shop Now</h3></center>
        </div>
        
        </nav><br><br>
        <h1 class="headings">Our <b > Features</b></h1>
        <br>
        <div class="box1">
            <div class="box1a">
                <div class="box1aA">
                    <div style="margin: 10px;">
                    <img src="{% static 'images/feature-img-1.png' %}" alt="">
                    <h2>Fresh and Organic</h2>
                    <h5>Lorem,Ipum Dolor Sit Amet Consectetur</h5>
                    <h5>Adipisicing Elit Deserunt,Earum!</h5>
                    <center><h3 class="sech3">Read More</h3></center>
                    </div>
                </div>
            </div>
            <div class="box1a">
                <div class="box1aA">
                    <div style="margin: 10px; margin-bottom: 25px;">
                    <img src="{% static 'images/feature-img-2.png' %}" alt=""><br><br>
                    <h2>Free Delivery</h2>
                    <h5>Lorem,Ipum Dolor Sit Amet Consectetur</h5>
                    <h5>Adipisicing Elit Deserunt,Earum!</h5>
                    
                    <center><h3 class="sech3">Read More</h3></center>
                    </div>
                </div>
            </div>
            <div class="box1a">
                <div class="box1aA">
                    <div style="margin: 10px; margin-bottom: 27px;">
                    <img src="{% static 'images/feature-img-3.png' %}" alt=""><br>
                    <h2>Easy Pyments</h2>
                    <h5>Lorem,Ipum Dolor Sit Amet Consectetur</h5>
                    <h5>Adipisicing Elit Deserunt,Earum!</h5>
                    <center><h3 class="sech3">Read More</h3></center>
                    </div>
                </div>
            </div>
        </div><br><br><br><br>
        <h1 class="headings">Our <b > Products</b></h1><br><br><br>
        <div class="box2">
            <di class="box2a">
                <div class="box2aA">
                    <div style="margin: 10px; margin-bottom: 27px;">
                        <img src="{% static 'images/product-1.png' %}" >
                        <h2>Orange</h2>
                        <div>₹29</div>
                        <img src="{% static 'images/stars4.5.jpg' %}" style="width: 100px;">
                        <center><h3 class="sech4">Add To Card</h3></center>
                    </div>
                </div>
            </di>
            <di class="box2a">
                <div class="box2aA">
                    <div style="margin: 10px; margin-bottom: 27px;">
                        <img src="{% static 'images/product-2.png' %}" >
                        <h2>Onion</h2>
                        <div>₹24</div>
                        <img src="{% static 'images/stars4.5.jpg' %}" style="width: 100px;">
                        <center><h3 class="sech4">Add To Card</h3></center>
                    </div>
                </div>
            </di>
            <di class="box2a">
                <div class="box2aA">
                    <div style="margin: 10px; margin-bottom: 27px;">
                        <img src="{% static 'images/product-3.png' %}" >
                        <h2>Chicken</h2>
                        <div>₹19</div>
                        <img src="{% static 'images/stars4.5.jpg' %}" style="width: 100px;">
                        <center><h3 class="sech4">Add To Card</h3></center>
                    </div>
                </div>

            </di>
            <di class="box2a">
                <div class="box2aA">
                    <div style="margin: 10px; margin-bottom: 27px;">
                        <img src="{% static 'images/product-4.png' %}" >
                        <h2>Cabbage</h2>
                        <div>₹25</div>
                        <img src="{% static 'images/stars4.5.jpg' %}" style="width: 100px;">
                        <center><h3 class="sech4">Add To Card</h3></center>
                    </div>
                </div>

            </di>
            <di class="box2a">
                <div class="box2aA">
                    <div style="margin: 10px; margin-bottom: 27px;">
                        <img src="{% static 'images/product-5.png' %}" >
                        <h2>Potato</h2>
                        <div>₹29</div>
                        <img src="{% static 'images/stars4.5.jpg' %}" style="width: 100px;">
                        <center><h3 class="sech4">Add To Card</h3></center>
                    </div>
                </div>
                
            </di>
            <di class="box2a">
                <div class="box2aA">
                    <div style="margin: 10px; margin-bottom: 27px;">
                        <img src="{% static 'images/product-6.png' %}" >
                        <h2>Avocado</h2>
                        <div>₹29</div>
                        <img src="{% static 'images/stars4.5.jpg' %}" style="width: 100px;">
                        <center><h3 class="sech4">Add To Card</h3></center>
                    </div>
                </div>

            </di>
            <di class="box2a">
                <div class="box2aA">
                    <div style="margin: 10px; margin-bottom: 27px;">
                        <img src="{% static 'images/product-7.png' %}" >
                        <h2>Kerat</h2>
                        <div>₹29</div>
                        <img src="{% static 'images/stars4.5.jpg' %}" style="width: 100px;">
                        <center><h3 class="sech4">Add To Card</h3></center>
                    </div>
                </div>

            </di>
            <di class="box2a">
                <div class="box2aA">
                    <div style="margin: 10px; margin-bottom: 27px;">
                        <img src="{% static 'images/product-8.png' %}" >
                        <h2>Lemon</h2>
                        <div>₹29</div>
                        <img src="{% static 'images/stars4.5.jpg' %}" style="width: 100px;">
                        <center><h3 class="sech4">Add To Card</h3></center>
                    </div>
                </div>

            </di>
        </div><br><br><br>
        <h1 class="headings">Product <b >Categories</b></h1><br><br><br>
        <div class="box3">
            <di class="box2a">
                <div class="box2aA">
                    <div style="margin: 10px; margin-bottom: 27px;">
                        <img src="{% static 'images/cat-1.png' %}" ><br><br><br>
                        <h2>Vagitables</h2>
                        <div>Upto 45% Off</div><br>
                        <center><h3 class="sech4">Shop Now</h3></center>
                    </div>
                </div>
            </di>
            <di class="box2a">
                <div class="box2aA">
                    <div style="margin: 10px; margin-bottom: 27px;">
                        <img src="{% static 'images/cat-2.png' %}" ><br><br><br>
                        <h2>Fresh Fruits</h2>
                        <div>Upto 45% Off</div><br>
                        <center><h3 class="sech4">Shop Now</h3></center>
                    </div>
                </div>
            </di>
            <di class="box2a">
                <div class="box2aA">
                    <div style="margin: 10px; margin-bottom: 27px;">
                        <img src="{% static 'images/cat-3.png' %}" ><br><br><br>
                        <h2>Dairy Products</h2>
                        <div>Upto 45% Off</div><br>
                        <center><h3 class="sech4">Shop Now</h3></center>
                    </div>
                </div>
            </di>
            <di class="box2a">
                <div class="box2aA">
                    <div style="margin: 10px; margin-bottom: 27px;">
                        <img src="{% static 'images/cat-4.png' %}" ><br><br><br>
                        <h2>Fresh Meat</h2>
                        <div>Upto 45% Off</div><br>
                        <center><h3 class="sech4">Shop Now</h3></center>
                    </div>
                </div>
            </di>
        </div><br><br>
        <h1 class="headings">Customer's<b >Review</b></h1><br><br><br>
        <div class="box3">
            <di class="box2a">
                <div class="box2aA">
                    <div style="margin: 10px; margin-bottom: 5px;">
                        <img style="border-radius: 50px; " src="{% static 'images/pic-1.png' %}" >
                        <h6>Lorem Ipsum Dolor Sit, Amet Consectetur Adipisicing Elit. Unde Sunt Fugiat Dolore Ipsum Id Est Maxime Ad Tempore Quasi</h6>
                        <h4>karthik</h4>
                        <img src="{% static 'images/stars4.5.jpg' %}" style="width: 100px;">
                    </div>
                </div>
            </di>
            <di class="box2a">
                <div class="box2aA">
                    <div style="margin: 10px; margin-bottom: 5px;">
                        <img style="border-radius: 50px; " src="{% static 'images/pic-2.png' %}" >
                        <h6>Lorem Ipsum Dolor Sit, Amet Consectetur Adipisicing Elit. Unde Sunt Fugiat Dolore Ipsum Id Est Maxime Ad Tempore Quasi</h6>
                        <h4>Akhila</h4>
                        <img src="{% static 'images/stars4.5.jpg' %}" style="width: 100px;">
                    </div>
                </div>
            </di>
            <di class="box2a">
                <div class="box2aA">
                    <div style="margin: 10px; margin-bottom: 5px;">
                        <img style="border-radius: 50px; " src="{% static 'images/pic-3.png' %}" >
                        <h6>Lorem Ipsum Dolor Sit, Amet Consectetur Adipisicing Elit. Unde Sunt Fugiat Dolore Ipsum Id Est Maxime Ad Tempore Quasi</h6>
                        <h4>karthi</h4>
                            <img src="{% static 'images/stars4.5.jpg' %} " style="width: 100px;">
                    </div>
                </div>
            </di>
            <di class="box2a">
                <div class="box2aA">
                    <div style="margin: 10px; margin-bottom: 5px;">
                        <img style="border-radius: 50px; " src="{% static 'images/pic-4.png' %}" >
                        <h6>Lorem Ipsum Dolor Sit, Amet Consectetur Adipisicing Elit. Unde Sunt Fugiat Dolore Ipsum Id Est Maxime Ad Tempore Quasi</h6>
                        <h4>sonu</h4>
                        <img src="{% static 'images/stars4.5.jpg' %}" style="width: 100px;">
                    </div>
                </div>
            </di>
        </div><br><br>
        <h1 class="headings">Our <b >Blogs</b></h1><br><br><br>
        <div class="box1">
            <div class="box1a" style="height: 445px;">
                <div class="box1aA">
                    <img src="{% static 'images/blog-1.jpg' %}" style="width: 100%;">
                    <div style="margin: 10px;">
                    <h2>Fresh and Organic Vagitables and Fruits</h2>
                    <h5>Lorem,Ipum Dolor Sit Amet Consectetur</h5>
                    <h5>Adipisicing Elit Deserunt,Earum!</h5>
                    <h3 class="sech3">Read More</h3>
                    </div>
                </div>
            </div>
            <div class="box1a" style="height: 445px;">
                <div class="box1aA">
                    <img src="{% static 'images/blog-2.jpg' %}" style="width: 100%;">
                    <div style="margin: 10px; padding-bottom: 1px;">
                    <h2>Fresh and Organic Vagitables and Fruits</h2>
                    <h5>Lorem,Ipum Dolor Sit Amet Consectetur</h5>
                    <h5>Adipisicing Elit Deserunt,Earum!</h5>
                    <h3 class="sech3">Read More</h3>
                    </div>
                </div>
            </div>
            <div class="box1a" style="height: 445px;">
                <div class="box1aA">
                    <img src="{% static 'images/blog-3.jpg' %}" style="width: 100%;">
                    <div style="margin: 10px;">
                    <h2>Fresh and Organic Vagitables and Fruits</h2>
                    <h5>Lorem,Ipum Dolor Sit Amet Consectetur</h5>
                    <h5>Adipisicing Elit Deserunt,Earum!</h5>
                    <h3 class="sech3">Read More</h3>
                    </div>
                </div>
            </div>
        </div><br><br><br><br><br><br>
        <footer>
            <div class="footers">
                <h2>🍊KMART</h2>
                <div style="font-size: 15px;">
                    <div>Lorem,Ipum Dolor Sit Amet Consectetur Adipisicing Elit Deserunt,Earum!</div><br>
                    <img src="{% static 'images/f,i,t.jpg' %}" style="width: 150px; height: 40px;">
                    
                    <div></div>
                </div>
            </div>
            <div class="footers">
                <h2>Contact Info</h2>
                <div>
                    <div>📞 +123-456-7890</div><br>
                    <div>📞 +111-333-7777</div><br>
                    <div>📧  karthik*****@gmail.com</div><br>
                    <div>🗺️ Banglore,indai-517325</div>
                </div>
            </div>
            <div class="footers">
                <h2>Quick Links</h2>
                <div>
                    <div>➡️ Home</div><br>
                    <div>➡️ Features</div><br>
                    <div>➡️ Products</div><br>
                    <div>➡️ Categories</div><br>
                    <div>➡️ Review</div><br>
                    <div>➡️ Blogs</div><br>
                </div>
            </div>
            <div class="footers">
                <h2>Newsletter</h2>
                <div>
                    <div>Subscribe For Latest Update</div><br>
                    <input type="text" placeholder="Yours Email" style="width: 200px; height: 40px;">
                    <h3 class="sech3">Subscribe</h3>
                    <img src="{% static 'images/payment.png' %}" style="width: 170px;">
                </div>
            </div>
        </footer>
        <h3 style="padding-left: 450px;">Created By <b style="color: orangered;">Karthik G</b>|All Rights Reserved</h3>
    </body>
</html>